<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <title>Hotsheet</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="robots" content="noindex,nofollow">
    <meta name="turbo-prefetch" content="false">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "hotsheet/application" %>
    <%= javascript_include_tag "hotsheet/application", "data-turbolinks-track": :reload,
          type: :module, nonce: content_security_policy_nonce, defer: true %>
  </head>
  <body>
    <%= render "layouts/hotsheet/sidebar" %>
    <%= render "layouts/hotsheet/flash" %>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
