<!DOCTYPE html>
<html>
  <head>
    <title>Hotsheet</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>
    <%= stylesheet_link_tag "hotsheet/application", media: :all %>
    <%= javascript_include_tag "hotsheet/application", "data-turbolinks-track": :reload,
          type: :module, nonce: content_security_policy_nonce, defer: true %>
  </head>
  <body>
    <%= render "layouts/hotsheet/sidebar" %>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
