<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <title><%= t "hotsheet.title" %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="robots" content="noindex,nofollow">
    <meta name="turbo-prefetch" content="false">
    <meta name="turbo-refresh-method" content="morph">
    <meta name="turbo-refresh-scroll" content="preserve">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "hotsheet", nonce: true %>
    <%= javascript_include_tag "hotsheet", nonce: true, defer: true %>
  </head>
  <body>
    <%= render "hotsheet/shared/nav" %>
    <main>
      <%= render "hotsheet/shared/flash" %>
      <%= yield %>
    </main>
  </body>
</html>
