<%= turbo_frame_tag("#{dom_id(object)}-#{attribute}") do %>
  <div data-controller="editable-attribute"
       data-editable-attribute-broadcast-url-value="<%= broadcast_edit_intent_path %>"
       data-editable-attribute-resource-name-value="<%= object.class.name.downcase %>"
       data-editable-attribute-resource-id-value="<%= object.id %>">
    <div class="readonly-attribute"
         data-editable-attribute-target="readonlyAttribute"
         data-action="click->editable-attribute#displayInputField">
      <%= object.public_send(attribute) %>
    </div>

    <div data-editable-attribute-target="attributeForm" style="display: none;">
      <%= form_for object do |f| %>
        <%= f.text_field attribute, class: "editable-input", data: {
          editable_attribute_target: "attributeFormInput",
          action: "keydown.enter->editable-attribute#submitForm blur->editable-attribute#submitForm"
        } %>
      <% end %>
    </div>
  </div>
<% end %>
